$font-stack-radnika: 'Radnika-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-stack-normal: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

$margin-small: 15px;
$margin-large: 30px;

$image-small: 100px;
$image-large: 200px;
